/**************** HEADER ***************/

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__logo {
    width: 251px;

    img {
      max-width: 100%;
    }
  }

  &__official {
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    color: #ffffff;

    span {
      display: block;
      font-size: 18px;
      font-weight: 700;
      color: #ffffff;
    }
  }

  &__phone {
    display: block;
    font-size: 18px;
    font-weight: 700;
    color: #ffffff;

    &:hover {
      color: #ffffff;
      text-decoration: none;
    }
  }

  &__contact {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
}

/**************** PROMO ***************/

.promo {
  min-height: 650px;
  padding: 21px 0 93px 0;
  background: url(../../img/header_bgr.jpg) center (center/cover) no-repeat;

  &__wrapper {
    margin-top: 90px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  &__title {
    font-size: 42px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
  }

  &__subtitle {
    font-size: 24px;
    font-weight: 500;
    text-transform: uppercase;
    color: #ffffff;
  }

  &__icons {
    margin-top: 65px;
    width: 425px;
    display: flex;
    justify-content: space-between;
  }

  &__icon {
    width: 108px;
    text-align: center;
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;

    img {
      width: 42px;
      height: 46px;
      display: block;
      margin: 0 auto;
      margin-bottom: 20px;
    }
  }

  &__link {
    font-size: 16px;
    font-weight: 500;
    color: #ffffff;
    margin-top: 18px;

    a {
      color: #ffffff;
      text-transform: uppercase;
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }
    }
  }
}

/**************** ADVANTAGES ***************/

.advantages {
  background-color: #f6f6f6;
  min-height: 470px;
  background-color: #f6f6f6;
  padding: 71px 0 80px 0;

  &__points {
    margin-top: 65px;
    display: flex;
    justify-content: space-between;
  }

  &__item {
    width: 240px;
    text-align: center;
    font-size: 18px;
    line-height: 1.2;
    font-weight: 700;
    color: $second-color;

    img {
      display: block;
      margin: 0 auto;
      width: 70px;
      height: 70px;
      margin-bottom: 40px;
    }

    &-text {
      margin-top: 30px;
      font-size: 14px;
      line-height: 1.3;
      font-weight: 300;
      color: $second-color;

      span {
        text-decoration: underline;
        color: #ff0000;
      }
    }
  }
}

/**************** CONSULTATION ***************/

.consultation {
  min-height: 680px;
  background: url(../../img/section_bgr.jpg) center (center/cover) no-repeat;
  padding: 100px 0 91px 0;

  &__descr {
    width: 365px;
    margin-top: 80px;
    font-size: 20px;
    font-weight: 500;
    color: #ffffff;
    margin-bottom: 35px;
  }
}

/**************** SLIDER ***************/

.slider {
  padding: 81px 0;

  &__inner {
    width: 750px;
    margin: 0 auto;
  }

  .prev,
  .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 40px;
    border: none;
    background-color: transparent;

    img {
      width: 31px;
      height: 50px;
    }
  }

  .next {
    right: 40px;
    left: auto;
  }

  .tns-item {
    img {
      display: block;
      margin: 0 auto;
      width: 600px;
    }
  }
}

/**************** CATALOG ***************/

.catalog {
  padding-bottom: 100px;

  &__tabs {
    width: 690px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    list-style-type: none;
    margin-top: 70px;
    padding-left: 0;
    margin-bottom: 60px;
  }

  &__tabs-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 50px;
    border: 2px solid #d0d0d0;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    color: #6b6b6b;
    transform: skewX(-25deg);
    cursor: pointer;
    transition: all 0.5s;

    &:hover {
      box-shadow: 3px 3px 20px $main-color;
      border: none;
    }

    div {
      transform: skewX(25deg);
    }

    &_active {
      background-color: $main-color;
      color: #fff;
      border: none;
    }
  }

  &__content-wrapper {
    display: none;
    flex-wrap: wrap;
    justify-content: space-between;

    &_active {
      display: flex;
    }
  }
}

.catalog-card {
  text-align: center;
  width: 300px;
  min-height: 440px;
  overflow: hidden;
  border: 2px solid #e8e8e8;
  margin-bottom: 20px;
  padding: 20px;

  &__img {
    max-width: 100%;
  }

  &__img {
    width: 140px;
    height: 200px;
    margin-bottom: 15px;
  }

  &__subtitle {
    font-size: 16px;
    font-weight: 700;
    color: #0d0d0d;
    margin-bottom: 15px;
  }

  &__descr {
    font-size: 14px;
    line-height: 1.2;
    font-weight: 300;
    color: #0d0d0d;
    margin-bottom: 15px;
  }

  &__link {
    display: block;
    font-size: 14px;
    font-weight: 500;
    text-decoration: underline;
    text-transform: uppercase;
    text-align: center;
    color: $main-color;

    &:hover {
      text-decoration: none;
      color: $main-color;
    }
  }

  hr {
    background-color: #e8e8e8;
    margin-top: 19px;
    margin-bottom: 21px;
    border-bottom: none;
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
  }

  &__old-price {
    font-size: 14px;
    font-weight: 300;
    color: #555555;
    text-decoration: line-through;
  }

  &__new-price {
    font-size: 20px;
    font-weight: 700;
    color: #050505;
  }

  &__block {
    display: flex;
    width: calc(200% + 40px);
  }

  &__content {
    width: 50%;
    margin-right: 0px;
    transform: translateX(-100%);
    transition: 0.5s all;

    &_active {
      transform: translateX(0%);
      margin-right: 20px;
    }
  }

  &__list {
    position: relative;
    width: 50%;
    margin-left: 20px;
    transform: translateX(0%);
    padding-right: 20px;
    transition: 0.5s all;
    padding-left: 19px;
    margin-bottom: 0;
    text-align: initial;
    list-style-type: none;

    li {
      position: relative;
      color: #555555;
      font-size: 14px;
      font-weight: 300;
      margin-bottom: 20px;

      &:before {
        content: "";
        position: absolute;
        width: 5px;
        height: 5px;
        background-color: $main-color;
        left: -14px;
        top: 8px;
      }
    }

    &_active {
      transform: translateX(-100%);
      margin-left: 0px;

      li {
        position: relative;
        color: #555555;
        font-size: 14px;
        font-weight: 300;
        margin-bottom: 20px;

        &:before {
          content: "";
          position: absolute;
          width: 5px;
          height: 5px;
          background-color: $main-color;
          left: -14px;
          top: 8px;
        }
      }
    }
  }

  &__back {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(calc(-50% - 19px));
    display: block;
    color: $main-color;
    font-size: 14px;
    font-weight: 500;
    text-decoration: underline;
    text-transform: uppercase;

    &:hover {
      color: $main-color;
    }
  }
}

/**************** FEEDBACK ***************/

.feedback {
  padding-bottom: 71px;

  &__fb {
    margin-top: 100px;
    display: flex;

    &:nth-child(1) {
      margin-top: 65px;
    }
  }

  &__img {
    width: 169px;
    height: 169px;
    border-radius: 84.5px;
  }

  &__name {
    font-size: 18px;
    font-weight: 700;
    color: $second-color;
  }

  &__distance {
    font-size: 14px;
    font-weight: 300;
    color: #646464;
  }

  &__descrip {
    font-size: 16px;
    font-weight: 300;
    color: $second-color;
    margin-top: 10px;
  }

  &__text {
    margin-left: 62px;
    padding-right: 60px;
  }

  &__hr {
    margin-top: 30px;
    margin-bottom: 21px;
    border-bottom: none;
    padding: 0 230px;

    &:last-child {
      display: none;
    }
  }
}

/**************** FOOTER ***************/

.footer {
  &__info {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 460px;
    height: 270px;
    background-color: #c70101;
    padding: 50px 68px 60px 68px;
  }

  &__social {
    display: flex;
    justify-content: center;
    align-items: center;

    &-item {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50px;
      height: 50px;
      border: 2px solid rgb(255, 255, 255);
      border-radius: 100%;
      margin: 0 15px;

      img {
        height: 25px;
      }
    }
  }

  &__addr {
    margin-bottom: 36px;
    color: #fff;
    font-size: 20px;
    line-height: 20px;
    font-weight: 500;
    text-align: center;
  }

  &__phone {
    display: block;
    color: #fff;
    font-size: 20px;
    line-height: 20px;
    font-weight: 700;
    margin-bottom: 38px;
    text-align: center;

    &:hover {
      text-decoration: underline;
      color: #fff;
    }
  }
}