/**************** HEADER ***************/

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__logo {
    width: 251px;

    img {
      max-width: 100%;
    }
  }

  &__official {
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    color: #ffffff;

    span {
      display: block;
      font-size: 18px;
      font-weight: 700;
      color: #ffffff;
    }
  }

  &__phone {
    display: block;
    font-size: 18px;
    font-weight: 700;
    color: #ffffff;

    &:hover {
      color: #ffffff;
      text-decoration: none;
    }
  }

  &__contact {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

}

/**************** PROMO ***************/

.promo {
  min-height: 650px;
  padding: 21px 0 93px 0;
  background: url(../../img/header_bgr.jpg) center (center/cover) no-repeat;

  &__wrapper {
    margin-top: 90px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  &__title {
    font-size: 42px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
  }

  &__subtitle {
    font-size: 24px;
    font-weight: 500;
    text-transform: uppercase;
    color: #ffffff;
  }

  &__icons {
    margin-top: 65px;
    width: 425px;
    display: flex;
    justify-content: space-between;
  }

  &__icon {
    width: 108px;
    text-align: center;
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;

    img {
      width: 42px;
      height: 46px;
      display: block;
      margin: 0 auto;
      margin-bottom: 20px;
    }
  }

  &__link {
    font-size: 16px;
    font-weight: 500;
    color: #ffffff;
    margin-top: 18px;

    a {
      color: #ffffff;
      text-transform: uppercase;
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }

    }
  }
}

/**************** ADVANTAGES ***************/

.advantages {
  background-color: #f6f6f6;
  min-height: 470px;
  background-color: #f6f6f6;
  padding: 71px 0 80px 0;

  &__points {
    margin-top: 65px;
    display: flex;
    justify-content: space-between;
  }

  &__item {
    width: 240px;
    text-align: center;
    font-size: 18px;
    line-height: 1.2;
    font-weight: 700;
    color: $second-color;

    img {
      display: block;
      margin: 0 auto;
      width: 70px;
      height: 70px;
      margin-bottom: 40px;
    }

    &-text {
      margin-top: 30px;
      font-size: 14px;
      line-height: 1.3;
      font-weight: 300;
      color: $second-color;

      span {
        text-decoration: underline;
        color: #ff0000;
      }
    }

  }
}

/**************** CONSULTATION ***************/

.consultation {
  min-height: 680px;
  background: url(../../img/section_bgr.jpg) center (center/cover) no-repeat;
  padding: 100px 0 91px 0;

  &__descr {
    width: 365px;
    margin-top: 80px;
    font-size: 20px;
    font-weight: 500;
    color: #ffffff;
    margin-bottom: 35px;
  }
}