* {
  font-family: 'Museo Sans Cyrl', sans-serif;
}

.container {
  position: relative;
  max-width: 950px;
  margin: 0 auto;
}

@import '../base/variables';
@import '../base/mixins';
@import '../blocks/blocks';
@import '../blocks/bootstrap-reboot.min';
@import '../blocks/font';
@import '../blocks/general';
@import '../blocks/media';
