@import "../libs/font";
@import "../libs/bootstrap-reboot.min";
@import "../libs/animate";

@import "../base/variables";
@import "../base/animation";

* {
  font-family: 'Museo Sans Cyrl', sans-serif;
}

.container {
  position: relative;
  max-width: 950px;
  margin: 0 auto;
}

ul {
  margin: 0px;
  padding: 0px;
}

@import "../blocks/blocks";
@import "../blocks/general";
@import "../blocks/media";